<h1><%= @cocktail.name %></h1>
<div class= "container">
  <p><%= link_to "Back to homepage", cocktails_path, class: "btn btn-primary" %></p>
  <p><%= link_to "Update #{@cocktail.name}", edit_cocktail_path(@cocktail), class: "btn btn-primary" %></p>
  <p><%= link_to "Delete #{@cocktail.name}", @cocktail, method: :delete, data: {confirm: 'Are you sure ?'}, class: "btn btn-primary" %></p>
  <p><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></p>
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li>
      <p><%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to "Delete dose", dose, method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-primary" %></p>
    </li>
    <% end %>
  </ul>
</div>
